exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(StratMonteCarlo, .registration = TRUE)
importFrom("stats", "runif")
importFrom("utils", "tail")
importFrom("ggplot2", "ggplot", "aes", "geom_line", "geom_point", "theme_minimal", "labs", "theme", "element_text", "element_blank", "scale_color_brewer", "geom_hline", "annotate")
